<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>CC0ySpwUhDTMumZ5I2ZNnlfQjS4Oy6Go</string>
	<key>Domain</key>
	<string>https://auth-beta.troov.app</string>
</dict>
</plist>
